@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  MAIN   */

main {
    height: 70vh;
}

#selecione-servico{
    font-size: 16px;
    font-weight: 400;
}

/* FORMULARIO */

#hora-form{
    font-size: 16px;
    font-weight: 400;
}

#data-form{
    font-size: 16px;
    font-weight: 400;
}

.formulario-box {
    max-width: 600px;
    min-width: 400px;
}

.select-class {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    border: 2px solid rgb(109, 109, 109);
    margin-top: 2px;
    margin-bottom: 2px;
}

/* BOTAO */

.botao {
    padding: 5px;
    width: 100%;
    background-color: #0057DF;
    border: 2px solid rgb(90, 90, 90);
    border-radius: 10px;
    color: white;
}

#agendar-nome{
    font-weight: 700 !important;
}

.botao:hover {
    padding: 5px;
    width: 100%;
    background-color: #206de9;
    border-radius: 10px;
    color: rgb(167, 176, 255);
}
