.img-footer {
    width: 200px;
}

.footer {
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.texto-footer {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-align: right;
}
