.header-geral {
    background-color: #FF9C09;
}

.logo a {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.card-title {
    font-weight: 300;
}

#minha-agenda {
    height: 60px;
    font-weight: 700;
    line-height: 2;
}

#meus-servicos {
    color: #FF9C09 !important;
    border-bottom: 7px solid #FF9C09;
    color: white;
    font-weight: 700;
    line-height: 2;
}

.aba {
    color: white !important;
    height: 60px;
    font-weight: 700;
    line-height: 2;
}

.aba:hover {
    color: rgb(174, 174, 174);
}

.aba-ativa {
    color: #5A5A5A !important;
    height: 60px;
    border-bottom: 7px solid #5A5A5A;
    font-weight: 700;
    line-height: 2;
}